﻿@page "/catClientes"

<h3>Catalogo de clientes</h3>

<button type="submit" class="btn btn-success" @onclick="Agregar">Insertar</button>

@if (mostrarFormulario)
{
    <div class="container">
        <div class="row">
            <div class="col-1">Nombre</div>
            <div class="col-2"><input type="text" class="form-control" @bind-value=@cliente.Nombre /></div>
            <div class="col-1">Apellidos</div>
            <div class="col-2"><input type="text" class="form-control" @bind-value=@cliente.Apellidos /></div>
            <div class="col-1">Dirección</div>
            <div class="col-4"><input type="text" class="form-control" @bind-value=@cliente.Direccion /></div>
        </div>
        <div class="row">
            <div class="col-1"><button type="button" class="btn btn-primary" @onclick="Guardar">Guardar</button> </div>
            <div class="col-1"><button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button> </div>

        </div>
    </div>
}

Total de registros: @clientes.Count
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in clientes)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Apellidos</td>
                <td>@item.Direccion</td>
                <td>
                    <button type="button" @onclick="(()=>Editar(item))" class="btn btn-warning"><span class="oi oi-pencil" aria-hidden="true" /> </button>
                    <button type="button" @onclick="(()=>Eliminar(item))" class="btn btn-danger"><span class="oi oi-trash" aria-hidden="true" /> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    Clientes cliente;
    bool esEdicion, mostrarFormulario;

    List<Clientes> clientes;
    RepositorioClientes repo;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        repo = FabricRepositorios.RepositorioClientes();
        LlenarTabla();
        esEdicion = false;
        mostrarFormulario = false;
    }

    private void LlenarTabla()
    {
        clientes = repo.TraerTodos;
        StateHasChanged();
    }

    protected void Agregar()
    {
        esEdicion = false;
        cliente = new Clientes();
        mostrarFormulario = true;
    }

    protected void Guardar()
    {
        if (esEdicion)
        {
            //Modificar
            if (repo.Modificar(cliente) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }
        else
        {
            //Agregar
            if (repo.Insertar(cliente) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }

    }

    protected void Eliminar(Clientes c)
    {
        repo.Eliminar(c.Id);
        LlenarTabla();
    }

    protected void Editar(Clientes c)
    {
        cliente = c;
        mostrarFormulario = true;
        esEdicion = true;
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;

    }


}
