﻿@page "/catCategorias"

<h3>Catalogo de categorias</h3>

<button type="submit" class="btn btn-success" @onclick="Agregar">Insertar</button>

@if (mostrarFormulario)
{
    <div class="container">
        <div class="row">
            <div class="col-1">Nombre</div>
            <div class="col-2"><input type="text" class="form-control" @bind-value=@categoria.Nombre /></div>
          
        </div>
        <div class="row">
            <div class="col-1"><button type="button" class="btn btn-primary" @onclick="Guardar">Guardar</button> </div>
            <div class="col-1"><button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button> </div>

        </div>
    </div>
}
Total de registros: @categorias.Count
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categorias)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>
                    <button type="button" @onclick="(()=>Editar(item))" class="btn btn-warning"><span class="oi oi-pencil" aria-hidden="true" /> </button>
                    <button type="button" @onclick="(()=>Eliminar(item))" class="btn btn-danger"><span class="oi oi-trash" aria-hidden="true" /> </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    Categorias categoria;
    bool esEdicion, mostrarFormulario;

    List<Categorias> categorias;
    RepositorioCategorias repo;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        repo = FabricRepositorios.RepositorioCategorias();
        LlenarTabla();
        esEdicion = false;
        mostrarFormulario = false;
    }

    private void LlenarTabla()
    {
        categorias = repo.TraerTodos;
        StateHasChanged();
    }

    protected void Agregar()
    {
        esEdicion = false;
        categoria = new Categorias();
        mostrarFormulario = true;
    }

    protected void Guardar()
    {
        if (esEdicion)
        {
            //Modificar
            if (repo.Modificar(categoria) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }
        else
        {
            //Agregar
            if (repo.Insertar(categoria) != null)
            {
                mostrarFormulario = false;
                LlenarTabla();
            }
        }

    }

    protected void Eliminar(Categorias c)
    {
        repo.Eliminar(c.Id);
        LlenarTabla();
    }

    protected void Editar(Categorias c)
    {
        categoria = c;
        mostrarFormulario = true;
        esEdicion = true;
    }

    protected void Cancelar()
    {
        mostrarFormulario = false;

    }

}
