﻿@page "/catProductos"


<h3>CatProductosPage</h3>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in productos)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.NombreCategoria</td>
                <td>$@item.Precio</td>
                <td></td>
            </tr>            
        }
    </tbody>
</table>


@code {
    List<ProductosCompletosModel> productos;
    List<Categorias> categorias;
    RepositorioProductos repositorioProductos;
    RepositorioCategorias repositorioCategorias;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        repositorioCategorias = FabricRepositorios.RepositorioCategorias();
        repositorioProductos = FabricRepositorios.RepositorioProductos();
        categorias = repositorioCategorias.TraerTodos;
        ActualizarTabla();
    }

    void ActualizarTabla(){
        productos = repositorioProductos.TraerProductosCompletos;
        StateHasChanged();
    }
}
